#content{
    display: grid;
    grid-template-columns: auto 90% auto;
    grid-template-areas: ". content .";
    padding: 64px 0;

    @include md{
        padding: 100px 0;
        grid-template-columns: auto 80% auto;
    }
    @include md{
        padding: 128px 0;
        grid-template-columns: auto 80% auto;
    }
    @include md{
        grid-template-columns: auto 1440px auto;
    }

    >div{
        grid-area: content;

        @include lg{
            padding:0 30%;

        }

        h1{
            font-size: rem-calc(35);
            margin-bottom: 10px;
        }
        p{
            font-size: rem-calc(18);
            line-height: rem-calc(30);
            text-align: justify;
        }
    }
}