#content{

    display: grid;
    grid-template-columns: auto 90% auto;
    grid-template-areas: ". content .";
    padding: 64px 0;

    @include sm{
        padding: 100px 0;
        grid-template-columns: auto 80% auto;
    }
    @include md{
        padding: 128px 0;
        grid-template-columns: auto 80% auto;
    }
    @include xl{
        grid-template-columns: auto 1440px auto;
    }

    >div{
        
        grid-area: content;

        @include lg{
            padding:0 30%;

        }

        h1{
            text-align: center;
            font-size: rem-calc(35);
            margin-bottom: 10px;
            color: var(--orange);
        }
        p{
            font-size: rem-calc(18);
            line-height: rem-calc(30);
            text-align: center;
            color: var(--darkerbrown);
        }
    }

}