/* =============
    Header
============= */
header{
    position: absolute;
    width: 98%;
    filter: drop-shadow(0px 2px 6px rgb(41, 41, 41));
    z-index: 100;


    >div{
        display:grid;
        grid-template-columns: 20% auto;
        padding:1px 16px;

        aside{
            a{
                position: relative;
                top: 20px;
                left: 20px;
                display: inline-block;
            }
        }

    }

}