/* =============
    Navigation
============= */
nav{

    height:100%;

    ul{

        height:100%;
        display:flex;
        justify-content: flex-end;
        align-items: center;
        list-style-type: none;
        margin: 0;

        li{
            margin-left: 4vw;

            a:link, a:visited{
                font-family: 'Poppins';
                color:var(--blue);
                transition: 0.25s;
                font-size: rem-calc(18);
                font-weight: 300;

                &:hover, &:active{
                    color: var(--purple);
                }

            }
        }
    }
}